body {
	background-color: hsl(212, 45%, 89%);
	font-family: Outfit;
}
h1 {
	color: hsl(218, 44%, 22%);
	font-weight: 700;
}
p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
}
img {
	border-radius: 25px;
	border: 30px solid white;
}
.main{
	 margin: 25px;
	 text-align: center;
    position: relative; 
}
.text {
    position: absolute;
    bottom: 60px;
    left: 30px;
}
.text2 {
	position: absolute;
    bottom: 60px;
    left: 30px;
}